<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Dashboard</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/QLogo.ico')}}">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">	
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
<!--	<script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>-->
<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="https://static.robotwebtools.org/keyboardteleopjs/current/keyboardteleop.min.js"></script>
<script src="//yoannmoinet.github.io/nipplejs/javascripts/nipplejs.js"></script>
<script src="{{url_for('static', filename='js/config.js')}}"></script>	
<script src="{{url_for('static', filename='js/plugin/gauge.min.js')}}"></script>
	
	<script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	<script src="{{url_for('static', filename='js/core/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/core/bootstrapC.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/core/Chart.min.js')}}"></script>
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					<small>Helgen Technologies</small>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								TRIBINE PROJECT
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="130" height="26">
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a href="/">
							<i class="la la-map-marker"></i>
							<p>Navigation</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="collect">
							<i class="la la-wrench"></i>
							<p>Collect</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="check">
							<i class="la la-dashboard"></i>
							<p>check</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">COLLECT</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">FIll</h4>
									<!--<p class="card-category">Complete</p>-->
								</div>
								<div class="card-body">
									<div id="task-complete" class="chart-circle mt-4 mb-3"></div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i><span id="fill_txt">80</span>%</div>
								</div>
							</div>
						</div>
						<div class="card card-stats col-md-6">
							<div class="card-body">
								<div class="card-header">
									<h4 class="card-title">Processed</h4>
									<!--<p class="card-category">Complete</p>-->
								</div>
								<div class="row">
									<div class="col-5">
										<div class="icon-big text-center icon-warning">
											<img src="{{url_for('static', filename='img/kg_icon.jpeg')}}" width="20%">
										</div>
									</div>
									<div class="col-7 d-flex align-items-center">
										<div class="numbers">
											<p class="card-category">Kilograms</p>
											<h4 class="card-title"><span id="kilograms_txt">150</span> KG</h4>
										</div>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="col-5">
										<div class="icon-big text-center">
											<!--<i class="la la-heart-o text-primary"></i>-->
											<img src="{{url_for('static', filename='img/time_icon.jpeg')}}" width="20%">
										</div>
									</div>
									<div class="col-7 d-flex align-items-center">
										<div class="numbers">
											<p class="card-category">Along the day</p>
											<h4 class="card-title">200000 KG</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Kilograms processed along the year</h4>
									<!--<p class="card-category">Un Sensor</p>-->
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="Sensor1" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<!--<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
								</div>-->
							</div>
						</div>						

						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Filled</h4>
									<!--<p class="card-category">Un Sensor</p>-->
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="filled_graph" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<!--<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
								</div>-->
							</div>
						</div>						
					</div>					
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

<script src="{{url_for('static', filename='js/ROSManager.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/chartist.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/maps/world_countries.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chart-circle/circles.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ready.min.js')}}"></script>
<script src="{{url_for('static', filename='js/demo.js')}}"></script>
<script src="{{url_for('static', filename='js/collect.js')}}"></script>

</html>