<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Dashboard</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/QLogo.ico')}}">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
<!--	<script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>-->
<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="https://static.robotwebtools.org/keyboardteleopjs/current/keyboardteleop.min.js"></script>
<script src="//yoannmoinet.github.io/nipplejs/javascripts/nipplejs.js"></script>
	<script src="{{url_for('static', filename='js/plugin/gauge.min.js')}}"></script>
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					<small>Helgen Technologies</small>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								TRIBINE PROJECT
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="130" height="26">
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item active">
						<a href="/">
							<i class="la la-map-marker"></i>
							<p>Navigation</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="collect">
							<i class="la la-wrench"></i>
							<p>Collect</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="check">
							<i class="la la-dashboard"></i>
							<p>check</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Navigation</h4>
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Map</h4>
									<!--<p class="card-category">Zed</p>-->
								</div>
								<div class="card-body">
									<div class="mapcontainer">										
										<iframe src="https://maps.google.com/maps?q=19.693692,-99.036843&t=&z=150&ie=UTF8&iwloc=&output=embed" width="100%" height="400px" id="google_map"></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Navigation info</h4>									
								</div>
								<div class="card-body">									
									<div class="card-body">
										<div class="chart-circle mt-4 mb-3">
											<div id="Motor1" class="mt-4 mb-3">
												<p>Latitude: </p>
												<p id="Latitude"></p>
												<p>Longitude: </p>
												<p id="Longitude"></p>
												<p>Yaw: </p>
												<p id="Yaw"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Velocity</h4>
									<!--<p class="card-category">Trasera</p>-->
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="velocity" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i>    <span id="velocity_txt">0</span> m/s</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Wheels_speed</h4>
									<!--<p class="card-category">Voltaje</p>-->
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="wheel_speed" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i><span id="wheel_speed_txt">0</span> m/s</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{{url_for('static', filename='js/plugin/gauge.js')}}"></script>
</body>

<script src="{{url_for('static', filename='js/ROSManager.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/chartist.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/maps/world_countries.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chart-circle/circles.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ready.min.js')}}"></script>
<script src="{{url_for('static', filename='js/demo.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>